@{
    ViewBag.Title = "Selecionar perfil";
}

<div class="leftPerfil"></div>
<div class="right">
    <div class="col-md-12 col-sm-12 col-lg-offset-3 col-lg-6 col-xs-12 selecione_perfil_main ">

        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="margin-bottom:3rem; display: flex; justify-content:center">
            <img style="max-width: 100%" src="~/Imagens/fundo.dnit_v6.png" />
        </div>

        @using (Html.BeginForm("SelecionarPerfil", "Login", FormMethod.Post, htmlAttributes: new { @class = "form col-md-12 selecione_perfil_container" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel perfil_body col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="panel-body opcoes-item col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div class="row opcoes_perfil">
                        @foreach (var item in (List<PGD.Domain.Enums.Perfil>)TempData["lstPerfil"])
                        {
                            <div class="op">
                                @Html.RadioButton("Perfil", item, false, new { @id = "perfil" + item.ToString() })
                                @if (item.ToString() == "Solicitante")
                                {
                                    @Html.Label("Participante")
                                }
                                else if (item.ToString() == "Dirigente")
                                {
                                    @Html.Label("Chefia")
                                }
                                else if (item.ToString() == "AdminPessoas")
                                {
                                    @Html.Label("Admin/Pessoas")
                                }
                                else
                                {
                                    @Html.Label(item.ToString(), new { @for = "perfil" + item.ToString() })
                                }

                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="col text-center">
                    <button class="btn btn-lg btn-entrar" style="width:350px;">Continuar</button>
                </div>
            </div>

        }
        <div>
            <img class="imagem_footer_perfil" src="~/Imagens/fundo.dnit_v5.png" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>